 /* $Id: perfectMarket.css 136840 2013-12-16 17:10:34Z laurence.kooper $
 /css/0.1/screen/build/app/perfect-market/styles.css
 (c)2006 - 2013 The New York Times Company
 */

@import url(/css/0.1/screen/common/global.css);
@import url(/css/0.1/screen/common/modules.css);
@import url(/css/0.1/screen/common/shell.css);
@import url(/css/0.1/screen/common/layout.css);
@import url(/css/0.1/screen/common/forms.css);
@import url(/css/0.1/screen/common/modules/sharetools/common.css);

a:link,
a:visited,
a:active {
  text-decoration: none;
}

p {
  margin-bottom: 10px;
}

.cb {
  clear: both;
}

.flat {
  height: 1px;
  line-height: 1px;
}

div#editionDropDownModal {
  display: none;
}

.mainTabsContainer.tabsContainer {
  bottom: 0;
}

div#layout {
  font-family: Georgia;
  margin: 0 auto;
  padding-bottom: 13px;
  width: 980px;
}

div#area-top {
  height: 20px;
  margin-top: 13px;
}

div#mod-nav {
  background-image: none;
  float: left;
}

div#mod-nav ul li {
  background-color: #F0F4F5;
  background-image: none;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  cursor: pointer;
  display: block;
  float: left;
  font-family: Arial;
  font-size: 10px;
  line-height: 12.5px;
  margin: 0;
  padding: 4px 7px 2px;
  text-transform: uppercase;
  white-space: nowrap;
}

div#mod-nav ul li.first {
  border-left: 1px solid #999;
}

#mod-site-help {
  float: right;
}

#mod-register {
  float: right;
}

#mod-login {
  float: right;
}

#area-main {
  border: 1px solid #999;
  width: 100%;
}

div#area-main-top {
  border-bottom: 2px solid #000;
  clear: both;
  margin-bottom: 15px;
  padding-top: 7px;
}

div#mod-logo {
  float: left;
  padding: 5px 0 0 7px;
}

div#mod-rt-top {
  float: right;
  padding: 5px 7px 0;
}

div#mod-search-box {
  float: right;
}

div#mod-search-box label {
  display: block;
  font-family: arial,helvetica,sans-serif;
}

div#mod-search-box input.text {
  border: 1px solid #999;
  height: 18px;
  margin-right: 2px;
  width: 210px;
}

#mod-article-section {
  margin: 0 auto;
  padding: 7px 0 10px;
  text-align: center;
  width: 400px;  
}

div#mod-article-section a {
  color: #000;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 29px;
  font-weight: bold;
  line-height: 29px;
}

#area-main-center-w-left {
  float: right;
  margin-top: 15px;
  width: 780px;
}

div#mod-article-header * {
  color: #000;
  font-size: 24px;
  line-height: 26px;
}

div.mod-articleheader h1 {
  font-weight: normal;
}

div#mod-article-byline,
div#mod-a-body-first-para, 
div#mod-a-body-after-first-para,
div#mod-pagination {
  margin-bottom: 10px;
}

div#mod-a-body-first-para, 
div#mod-a-body-after-first-para {
  width: 640px;
}

div#mod-article-byline {
  margin-top: 15px;
}

div#mod-article-byline, 
div#mod-article-byline *,
div#mod-article-byline .pubdate {
  color: #808080;
  font-family: arial;
  font-size: 10px;
  line-height: 12px;
}

div#area-main-center-right {
  border: 1px solid #EAE8E9;
  float: right;
  margin: 0 0 5px 5px;
  position: relative;
  width: 132px;
}

div#mod-a-body-first-para *,
div#mod-a-body-after-first-para * {
  color: #000;
  font-size: 15px;
  line-height: 22px;
}

.ad-divider {
  border-top: 1px solid #CCC;
  height: 1px;
  width: 350px;
}

div#area-main-center-center {
  width: 655px;
}

div#mod-ln-ctr-bt,
div#mod-ln-ctr-top {
  margin-bottom: 10px;
  width: 655px;
}

div#mod-ctr-lt-in-top,
div#mod-ctr-rt-in-top,
div#mod-left-sky {
  margin-bottom: 10px;
}

div#mod-ctr-lt-in-top {
  float: left;
  padding-top: 20px;
}

div#mod-ctr-rt-in-top {
  float: right;
  padding-top: 19px;
}

div#mod-sm-badge-top-right .clearfix,
.wrap {
  display: block;
}

.mod-nytimestext {
  float: left;
}

div#mod-pagination {
  padding: 10px 0;
  text-align: right;
  width: 655px;
}

div#mod-pagination ul {
  list-style: none;
}

div#mod-pagination li {
  background-image: none;
  border-left: 1px solid #999;
  display: inline;
  font-family: Arial;
  font-size: 13px;
  padding: 0 5px;
}

div#mod-pagination li a {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
}

div#mod-pagination li.next a, 
div#mod-pagination li.prev a {
  border: 1px solid #004276;
  font-family: Arial;
  font-size: 11px;
  padding: 2px 4px;  
}

div#mod-pagination li:first-child {
  border-left: 0;
}

div#area-main-bottom {
  clear: both;
  border-top: 2px solid #000;
  height: 66px;
}

div#mod-home, 
div#mod-topics,
div#mod-member-center, 
div#mod-copyright, 
div#mod-nytco,
div#mod-privacy, 
div#mod-help, 
div#mod-contact-us,
div#mod-work-4-us,
div#mod-site-map,
div#mod-kw-index {
  border-right: 1px solid #999;
  margin-top: 10px;
  padding: 0 5px;
} 

div#mod-member-center, 
div#mod-kw-index, 
div#mod-copyright {
  border-right: 0;
}

div#mod-home, 
div#mod-home *, 
div#mod-topics,
div#mod-topics *,
div#mod-member-center, 
div#mod-member-center *,
div#mod-copyright, 
div#mod-copyright *,
div#mod-nytco,
div#mod-nytco *,
div#mod-privacy, 
div#mod-privacy *, 
div#mod-help, 
div#mod-help *,
div#mod-contact-us,
div#mod-contact-us *,
div#mod-work-4-us,
div#mod-work-4-us *,
div#mod-site-map,
div#mod-site-map *,
div#mod-kw-index,
div#mod-kw-index * {
  color: #666;
  font-family: Arial;
  font-size: 11px;
  line-height: 12px;
  text-decoration: underline;
}

div#area-main-bottom-top {
  margin: 0 auto;
  width: 203px;
}

div#area-main-bottom-bt {
  margin: 0 auto;
  width: 650px;
}

#area-main-center-left {
  float: left;
  width: 170px;
}
